@import '../../styles/variables';
@import '../../styles/mixins';

.group-role-container {
    @include card-base;
    
    .red {
        color: $danger;
        outline: none;
        border: none;
    }
}