@import '../../styles/variables';
@import '../../styles/mixins';

.role-container {
    .actions{
        i{
            padding-top: 7px;
            padding-right: 1px;
            font-size: 22px;
            cursor: pointer;
        }
        .add {
            color: green;
        }
        .delete{
            // color: red;
        }
    }
    .table-role{
        .delete {
            cursor: pointer;
            // color: red;
        }
    }
}