.modal-user {
    .content-body {
        .red{
            color: red;
            outline: none;
            border: none;
        }
    }
} 
.manage-users-container{
    i {
        padding-right: 7px;
    }
    .actions {
        .refresh{
            margin-right: 10px;
        }

    }
}